
nav {
    margin: 0;
    background-color: #023556;
    opacity: 0.8;
  }
  
  nav ul {
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;

  }
  nav ul li {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #C1B9AE;
    -webkit-box-shadow: 5px 5px 15px 5px #38647D; 
    box-shadow: 5px 5px 15px 5px #38647D;

  }
  
  nav ul li a {
    color: #2A29B2;
    text-decoration: none;
    
  }
  
  nav ul li a:hover {
    color: aliceblue;
  }