
nav {
    margin: 0;
    background-color: #023556;
    opacity: 0.8;
  }
  
  nav ul {
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;

  }
  nav ul li {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #C1B9AE;
  }
  
  nav ul li a {
    color: #F9F3F4;
    text-decoration: none;
    
  }
  
  nav ul li a:hover {
    padding: 15px;
    border-radius: 10px;
    color: #2A29B2;
    background-color: #C1B9AE;
  }